<div></div>
&nbsp;&nbsp;
&nbsp;&nbsp;<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
</mat-form-field>

<div>

  &nbsp;&nbsp;<button mat-raised-button
    (click)="exporter.exportTable('xlsx', {fileName:'ExcelTareasProgramadas'})">Excel</button>
  &nbsp;&nbsp;<button mat-raised-button (click)="btnClickNuevo()">Nuevo</button>
</div>
<div>.</div>
<div></div>
<div class="mat-elevation-z8">
  <table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort>

   
    <ng-container matColumnDef="idTareaProgramada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element"> {{element.idTareaProgramada}} 
      <button (click)="editTareaProgramadaItem(element)">Editar</button>
      <button (click)="borrarTareaProgramadaItem(element)">Elimar</button>
    </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tarea Programada</th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>



    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Url</th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>

 


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
